<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Thomas Nix</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous">
		</script>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>

	<div class="ui menu fixed inverted big">
		<a class="item active" href="/">
			Home
		</a>
		<a class="item" href="/biography">
			Biography
		</a>
		<a class="item" href="/contact">
			Contact
		</a>
		<div class="right menu">
			<a class="ui item" href="/skills">
				Skills
			</a>
			<a class="ui item" href="/projects">
				Projects
			</a>
		</div>
	</div>

	<div class="container" id="content-container">
        
        