<link rel="stylesheet" type="text/css" href="<%= styleLink %>">

<% include partials/header %>
 <div class="row">
 	<div class="col s12 l8 offset-l2">
 		<h2 class="page-header">All About Me</h2>
 		<p class="col s12 l8 offset-l2 page-header-description">Get to know me a little, I don't bite</p>
 	</div>
 </div>

 <div class="row">
 	<div class="col s12 l8 offset-l2">
 		<div class="card">
	 		<div class="card-content">
		 		<h3 class="card-title">Early Life</h3>
	    		<p>I was born in Charlotte, NC and have lived there my entire life, occasionally traveling as far as Washington D.C and Atlanta, GA, but never outside the country. As a kid, I always enjoyed playing video games, and the curiousity of "how things worked" got me intrigued in programming, especially with games like Second Life that allowed in-game programming. Ever since high school I have been interested in learning to code, the idea of controlling a computer was cool to me. Since then and into college, I expanded my grasp on coding by tackling new challenges and learning from both friends and online communities about new technologies and practices.</p>
			</div>
		</div>
	</div>
	<div class="col s12 l8 offset-l2">
		<div class="card">
			<div class="card-content">
				<h3 class="card-title">Education</h3>
				<p>I graduated from Phillip O. Berry Academy of Technology high school in 2014 with honors and I am set to graduate from UNC Charlotte in May 2018 Magna Cum Laude with a Bachelor's of Science	in Computer Science and a minor degree in Philosophy. As far as how I've learned what I know, the entirety of my web development knowledge has been learned through online sources (tutorials, examples, APIs, etc.) as well as trial and error. My college schooling taught me more about data types, how computers work at a fundamental level, and processing information.</p>
				<span>Current GPA: 3.764</span>
			</div>
		</div>
	</div>

	<div class="col s12 l8 offset-l2">
		<div class="card">
			<div class="card-content">
				<h3 class="card-title">Why Web Development?</h3>
				<p>I actually didn't find interest in web development until the summer prior to my Junior year of college. At UNCC, I started learning C++, Java, and Ruby (some Rails later on), but one day I just thought it would be nice to learn about this whole "HTML" thing. Fast forward a few months and I have that <em>horrible</em> portfolio on my home page created and I'm ready to learn some more. I set my sights on becoming a full stack javascript developer, and well... here I am! Learning about proper routing, database interaction, and authentication. Even though web development is my primary interest, my inner concentration in my Computer Science degree is actually computing systems, which includes topics such as compilers, sorting and O(n), and data types. I don't consider this duality to be destructive, but rather I think it makes me a little more rounded. </p>
			</div>
		</div>
	</div>

	<div class="col s12 l8 offset-l2">
		<div class="card">
			<div class="card-content">
				<h3 class="card-title">My Many Hobbies</h3>
				<p>If you've made it this far, surely you're interested in my character! Well, let me fill you in on some of my person interests: </p>
				<ul>
					<li>Horticulture: Yes, horticulture! I am an avid spicy pepper grower, and this past year I have grown 7 species of spicy peppers, including 3 of the worlds hottest peppers. It has been a very interesting and different field to learn about, but watching progress grow is amazing.</li>
					<li>Longboarding: I originally bought a longboard to commute around my college campus (it's rather large), but it has turned into a performance sport for me, as I enjoy long cruises and steep, fast descents as well. I have considered mounting a motor and battery to my longboard as well, creating a remote controlled electric vehicle.</li>
					<li>Cars: While I might not be the utmost car enthusiast, over my years I have befriended a few people with nice cars and the love of the road has rubbed off on me. My dream car isn't well defined, but my eyes are set on the Mustang GT, Suburu WRX STI, and Honda Civic Type R</li>
					<li>Gaming: Albeit I play video games far less frequently than a few years ago, I still enjoy some games such as Overwatch and Rocket League</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>