<link rel="stylesheet" type="text/css" href="<%= styleLink %>">

<% include partials/header %>
<div class="row">
 	<div class="col s12 l8 offset-l2">
 		<h2 class="page-header">Thanks for reaching out!</h2>
 		<p class="col s12 l8 offset-l2 page-header-description">There's a few ways you can learn more about me or reach out below</p>
 	</div>
 </div>

 <div class="row">
 	<div class="col s12 l8 offset-l2">
    <div class="card horizontal">
      <div class="card-image">
        <a href="https://github.com/ThomasjNix"><img class="responsive-img" src="/assets/images/placeholder.png" /></a>
        
      </div>
      <div class="card-stacked">
      	<h4>GitHub</h4>
        <div class="card-content">
          <p>View projects I've worked on, including this one!</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/ThomasjNix">Take me there!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 l8 offset-l2">
    <div class="card horizontal">
      <div class="card-image">
        <a href="https://www.linkedin.com/in/thomasjnix/"><img class="responsive-img" src="/assets/images/placeholder.png" /></a>
        
      </div>
      <div class="card-stacked">
      	<h4>LinkedIn</h4>
        <div class="card-content">
          <p>View my connections and work history</p>
        </div>
        <div class="card-action">
          <a href="https://www.linkedin.com/in/thomasjnix/">Take me there!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 l8 offset-l2">
    <div class="card horizontal">
      <div class="card-image">
       <a href="https://github.com/ThomasjNix/Resume"><img class="responsive-img" src="/assets/images/placeholder.png" /></a>
        
      </div>
      <div class="card-stacked">
      	<h4>Resume</h4>
        <div class="card-content">
          <p>View my resume, listed and updated in a GitHub repository</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/ThomasjNix/Resume">Take me there!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>