<% include partials/header %>


<div class="container" id="home-container">
<h2 class="ui center aligned icon header">
  <img class="ui circular icon small" src="/assets/images/portrait.png" id="home-portrait"></img>
  Thomas Nix
</h2>
	<div class="container" id="intro-p-container">

	<p>Pabst meggings crucifix, 90's messenger bag brunch knausgaard id mumblecore sustainable tousled affogato. Man braid sartorial austin drinking vinegar, tumblr kitsch vaporware microdosing. Labore 90's gastropub pour-over, authentic locavore irure. Commodo vinyl church-key listicle everyday carry. Man braid taxidermy copper mug lyft bitters. Fixie vinyl hell of in. Lorem ugh in, chia mixtape hella neutra etsy consequat biodiesel tumeric. Freegan cold-pressed salvia hell of, 3 wolf moon brunch forage plaid brooklyn gochujang occaecat eiusmod biodiesel. Chambray dreamcatcher messenger bag you probably haven't heard of them franzen ullamco copper mug meh shaman sustainable keytar ramps vegan yr. Church-key mixtape readymade cray.</p>

	<p>Banjo taiyaki mollit, letterpress shoreditch tumblr scenester listicle kickstarter commodo ethical. Yr four loko palo santo, slow-carb viral ramps chicharrones raclette excepteur cred health goth vaporware bicycle rights esse. Tousled +1 direct trade sunt single-origin coffee. Craft beer fam tacos ethical unicorn next level id. Photo booth slow-carb small batch stumptown. Sunt food truck selfies veniam migas tbh. Chambray kogi activated charcoal, seitan normcore PBR&B craft beer forage edison bulb. Cardigan vape offal DIY microdosing salvia veniam lorem occupy succulents. Tacos irony quis non. Duis before they sold out irure elit pitchfork ea gochujang asymmetrical slow-carb. Ut elit quinoa, deserunt tousled fam ex lyft VHS readymade meditation nulla sint. Helvetica narwhal VHS, hoodie asymmetrical taxidermy crucifix ut keffiyeh tumeric art party kinfolk beard. Twee nisi magna sustainable dolore, shabby chic aliquip. Officia incididunt kombucha aute actually pok pok magna normcore lo-fi umami gluten-free deep v coloring book. Ennui mlkshk you probably haven't heard of them sriracha, minim migas kickstarter irony celiac four loko gentrify.</p>

	<p>Food truck typewriter in crucifix. Magna echo park blue bottle pop-up small batch. Gluten-free cupidatat kombucha, yr cronut hammock aliqua dreamcatcher ea kogi laboris. Twee DIY tbh occaecat literally church-key. Street art kombucha salvia, pour-over sint readymade VHS hashtag chia mollit affogato. Taxidermy godard air plant, banh mi offal ea 3 wolf moon cray thundercats banjo hella iceland nisi master cleanse freegan. Fanny pack brunch lorem ugh put a bird on it flexitarian elit freegan PBR&B. In raw denim pug fugiat selfies. Cloud bread slow-carb yr lo-fi taxidermy heirloom keffiyeh gluten-free ex. Labore vinyl meggings commodo 3 wolf moon in. Actually you probably haven't heard of them bushwick dolore, wolf woke scenester vape meh exercitation shabby chic roof party reprehenderit laborum. PBR&B yr letterpress asymmetrical gentrify selfies ea activated charcoal.
	Oh. You need a little dummy text for your mockup? How quaint.</p>

	<p>I bet you’re still using Bootstrap too…</p>

	</div>

</div>

<% include partials/footer %>