<link rel="stylesheet" type="text/css" href="<%= styleLink %>">
<% include partials/header %>

 <div class="row">
 	<div class="col s12 l8 offset-l2">
 		<h2 class="page-header">Thomas Nix - Web Developer at Large!</h2>
 		<p class="col s12 l8 offset-l2 page-header-description">Here is a little information about this page, to learn more about me, check out some of the links on the sidebar.</p>
 	</div>
 </div>

 <div class="row">
 
 	<div class="col s12 l8 offset-l2">
 		<div class="card">
	 		<div class="card-content">
		 		<h3 class="card-title">Front-end Technologies</h3>
		 		<p>Here's a list of tech I used on the front-end portion of this page's development process</p>
		 		<ul>
		 			<li>Major 3: HTML5, CSS3, JavaScript</li>
		 			<li>jQuery</li>
		 			<li>Google Materialize (Styling)</li>
		 			<li>Responsive design</li>
		 		</ul>
		 	</div>
		 </div>
 	</div>


 	<div class="col s12 l8 offset-l2">
 		<div class="card">
	 		<div class="card-content">
		 		<h3 class="card-title">Back-end Technologies</h3>
		 		<p>I am excited to say that this version of my portfolio utilizes (nearly) a full web stack! Here are some of the back-end technologies I used in this project, and how I used them:</p>
		 		<ul>
		 			<li>NodeJS + ExpressJS: Building a server, routing paths, loading assets, and creating RESTful routes</li>
		 			<li>MongoDB + MongooseJS: Loading skills and projects from a database (mLab) using CRUD operations</li>
		 			<li>EJS: Loading in the skills and projects dynamically</li>
		 			<li>PassportJS: Setting up an admin route with authentication so I can add skills and projects to my portfolio from the web</li>
		 		</ul>
		 	</div>
		 </div>
 	</div>
 </div>

 

<% include partials/footer %>