#add-buttons > div:nth-child(1){
	text-align: right;
}

.button-content{
	position: absolute;
	right: 10%;
	top: 25%;
}

li.collection-item > p,
li.collection-item > span{
    max-width: 20ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 992px){
	#main-content-container > div> div > div > div.card-tabs > ul > li> a{
		font-size: 1em;
	}
	.collection .collection-item.avatar .title{
		font-size: 1.2em !important;
	}
	.card-content > div > ul > li{
		font-size: 1em;
		line-height: 1.2em !important;
	}
	.collection .collection-item{
		padding: 30px 20px;
	}
	.row.button-content > a,
	.row.button-content > form > button,
	#add-buttons > div > a{
		font-size: 1em;
	}
	.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i{
		font-size: 1.3em !important;
	}
}