.card .card-stacked h4{
    color: #232323;
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-weight: bold;
    padding: 15px;
    margin-left: 5%;
}
@media (max-width: 992px){
	div.card-content > p{
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 5%;
	}

	.card-action a{
		width: 100%;
		margin-right: 0 !important;
	}
	.card-horizontal{
		overflow-y: hidden;
	}
}