body{
	color: #001011;
	font-family: 'Roboto', sans-serif;
	background-image: url('/assets/images/bg-img-test.png');
	background-size: cover;
	background-attachment: fixed;
}

.card-content > p,
.card-content > span,
.card-content > ul{
	padding-left: 5% !important;
}
.page-header{
	font-family: "Montserrat", verdana;
	font-weight: bold;
	color: #232323;
	text-shadow: 3px 2px 0px #fff, 6px 4px 0px rgba(0,0,0,0.15);
}

.page-header,
.page-header-description{
	text-align: center;
}

.page-header-description{
	font-size: 14px;
	font-style: italic;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    color: white;
}



/* Overrides */
header, main, footer {
	padding-left: 300px;
}
.button-collapse i{
	color: #555;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
	font-weight: bold;
}

#main-content-container{
	margin-left: 15%;
	width: 85%;
	padding: 0 0.5%;
}

/* Navigation sidebar styling*/
#slide-out{
	color: #f7e9e9;
	overflow: visible;
	width: 15%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7cc0f4+0,97ccf4+24,7cc0f4+24,7cc0f4+24,64b5f6+100 */
	background: #232323; /* Old browsers */
	background: -moz-linear-gradient(top, #7cc0f4 0%, #97ccf4 24%, #7cc0f4 24%, #7cc0f4 24%, #64b5f6 100%); /* FF3.6-15 */
	/* background: -webkit-linear-gradient(top, #7cc0f4 0%,#97ccf4 24%,#7cc0f4 24%,#7cc0f4 24%,#64b5f6 100%); */ /* Chrome10-25,Safari5.1-6 */
	/* background: linear-gradient(to bottom, #7cc0f4 0%,#97ccf4 24%,#7cc0f4 24%,#7cc0f4 24%,#64b5f6 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc0f4', endColorstr='#64b5f6',GradientType=0 ); /* IE6-9 */
}
#slide-out img{
	width: 90%;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 1px 11px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 1px 11px rgba(255,255,255,1);
	box-shadow: 0px 0px 1px 11px rgb(255, 171, 64);
	margin-left: 5%;
}
#slide-out li{
	padding-left: 5px;
	margin-left: 1px;
}
#slide-out li.active{
	border-left: 5px solid #bbdefb;
	background-color: #1976d2;
}
#slide-out li.active a{
	color: white;
}
#slide-out li a{
	color: #f7e9e9;
	padding: 0;
	padding-left: 5px;
}
#slide-out li:hover{
	border-left: 5px solid #bbdefb; 
	padding-left: 0px;
}
#slide-out li:hover a{
	padding-left: 5;
	margin-left: 0px;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
	padding-left: 0;
	}
}
/* Responsive qualities */

/* Under 992px, common modernizer mobile breakpoint */
@media (max-width: 992px){
	#slide-out{
		width: 60vw;
	}
	#main-content-container{
		margin-left: 5%;
		width: 90%;
	}
}